.state-running {
  color: #20A11A;
}

#page-machine {
  .tab-content {
    margin-top: 25px;
  }

  #power {
    .overview span {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .power-state {
      margin-top: 10px;
    }
    .screenshot {
      margin-top: 20px;

      img.only-on.disabled {
        display: none;
      }
    }
  }

  #console {
    canvas {
      margin-bottom: 10px;
    }
  }

  #storage {
    text-align: left;

    table {
      width: 80%;
      margin: 0 auto;

      td, th {
        vertical-align: middle;
      }

      th.name {
        width: 45%;
      }

      td.actions {
        text-align: right;

        a.btn {
          display: inline-block;
          margin-left: 3px;
          margin-right: 3px;
        }
      }

      tr.snapshot {
        td.name {
          padding-left: 30px;
        }

        * {
          font-size: 14px !important;
        }
      }
    }
  }

  #scheduler {
    text-align: left;

    p {
      text-align: center;
    }

    .create {
      margin-bottom: 30px;
    }

    .input-group {
      .input-group-addon, .glyphicon {
        line-height: 12px;
      }
    }

    select {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    input {
      width: 100%;
    }


    table {
      width: 100%;
      margin: 0 auto;

      td, th {
        vertical-align: middle;
      }

      th.action {
        width: 15%;
      }

      th.cron {
        width: 35%;
      }


      td.actions {
        text-align: right;

        a.btn {
          display: inline-block;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }
}
