// border and thin lines colors
$border-pink-color: #F0DDEB;
$border-pink-muted-color: #F7EEF5;

// flat ui elements colors
$red-color: #EC4863;
$bright-violet-color: #9E8697;
$cream-color: #F4F2E9;

// vm states colors
$running-color: #52BBBF;
