@import 'bootstrap-customize';
@import 'bootstrap';
@import 'fonts';

@mixin gradient {
  background: linear-gradient(37deg, $dark, $medium);

  &, * {
    color: #ffffff;
  }
}

footer {
  @include gradient;
  text-align: center;
  padding: 5px;
  margin-top: 20px;

  a:hover {
    color: $light;
  }
}

#old-browser {
  text-align: center;
  z-index: 1001;

  div {
    display: inline-block;
    width: 450px;
    padding: 20px;
    background-color: #ff8c1a;
    margin: 0 auto;
  }
}

@import 'pages/*';
@import 'vendor/bootstrap-combobox';
