@import 'bootstrap-customize';
@import 'bootstrap';
@import 'fonts';

@mixin grouping {
  background-color: $grouping;
  border-radius: 4px;
}

.prototype-alert {
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #A1CFA5;
  color: #637A64;
  text-align: center;

  a {
    color: inherit;

    &:hover {
      border-bottom: solid 1px !important;
      text-decoration: none;
    }
  }
}

.header.row {
  margin-top: 30px;
  margin-bottom: 20px;

  .menu {
    font-size: 14px;
    text-align: center;

    img {
      padding: 10px;
      width: 48px;
      height: 48px;
      box-sizing: content-box;
      @include grouping;
    }

    p {
      margin-top: 10px;
    }
  }

  @mixin bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
    height: 100px;
  }

  $padding-bottom: 15px;

  .header {
    h1 {
      @include bottom;
      padding-bottom: $padding-bottom;

      span.oi {
        color: $brand-primary;
        font-size: 40px;
        position: relative;
        top: 8px;
        padding-right: 12px;
      }
    }
  }

  .action {
    @include bottom;

    .btn-primary {
      padding-top: 15px;
      padding-bottom: $padding-bottom;
    }
  }
}

.navbar {
  border: 0 !important;
  padding-top: 4px;
  padding-bottom: 4px;
  @include grouping;

  li {
    width: 100%;
    border: 0 !important;
    margin-top: 0 !important;
  }

  span.oi {
    font-size: 24px;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 5px;
    border-radius: 4px;
  }

  .active span.oi {
    color: $navbar-default-bg;
    background-color: $brand-primary;
  }
}

#old-browser {
  text-align: center;
  z-index: 1001;

  div {
    display: inline-block;
    width: 450px;
    padding: 20px;
    background-color: #ff8c1a;
    margin: 0 auto;
  }
}

@import 'pages/*';
@import 'vendor/*';
