@import '../../bootstrap-customize';


#page-machine {
  .console-window-wrapper {
    position: absolute;
    box-sizing: border-box;
    
    .console-window {
      position: absolute;
      box-sizing: border-box;
      padding: 35px 35px 15px 35px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: $cream-color;

      .canvas-wrapper {
        box-sizing: border-box;
        background-color: black;
        border-radius: 4px;
        
        canvas {
          width: 640px;
          height: 480px;
        }
      }

      .vm-actions {
        width: 100%;
        text-align: center;

        .distributions {
          margin-top: 5px;
          float: left;
          width: auto;
          background-color: transparent;
          color: $bright-violet-color
        }

        .rocket-menu {
          margin-top: 10px;
          display: inline-block;
        }

        .restart {
          float: right;

          .ctrlaltdel, .hardreset{
            padding: 10px 10px;
            border:  1px solid $cream-color !important;
            text-align: left;
            margin-top: 0px;
            i {
              margin-right: 10px;
            }
          }
        }
      }
    }

    p.bright-violet {
      margin-top: 20px;
    }
  }
}