@import '../../bootstrap-customize';

#page-machine #power {
  .btn { 
    padding: 10px 35px;
    &.dropdown-toggle {
      padding: 10px 15px;
    }
  }
  .stats {
    margin: 0;
    border: solid 1px $table-border-color;
    border-radius: 4px;
    color: $navbar-default-color;

    padding: 30px 20px;

    .key {
      min-height: 40px;
    }

    .val {
      background-color: $grouping-bg;
      border-radius: 4px;
      padding: 8px 0px;
      text-align: center;

      &.bigger {
        padding: 17px 0px;
      }

      &.power-state {
        background-color: $grouping-bg;

        i {
          color: $running-color;
          margin-right: 7px;
        }
      }
    }

    .progress {
      margin-top: 8px;
      height: 10px;
      margin-bottom: 0;
    }
  }

  .controls {
    margin-top: 40px;
    text-align: center;
    .btn-group {
      a.action.start {
        color: white;
        background-color: $running-color;
      }
    }
  }
}
