@import '../../bootstrap-customize';

#page-settings {
  padding-bottom: 50px;

  h3 {
    margin-top: 40px;

    &:first-child {
      margin-top: 0px;
    }

    &.users-header {
      display: inline-block;
    }
  }

  p.users-notice {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .create {
    margin-top: 25px;
    float: right;

    .btn {
      margin-bottom: 0px;
      margin-left: 20px;
      padding: 15px 35px;
      width: 210px;
    }

    .new {
      text-align: right;
      display: none;

      .email {
        display: inline-block;
        margin-left: 20px; 
        margin-right: 0px; 
        
        &.email {
          input {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }    
  }

  @media(max-width: $screen-md-max) { 
    .users-header {
      margin-bottom: 0px;
    } 
    .create {
      margin-top: 10px;
      float: none;

      .btn {
        float: none;
        display: inline-block;
        margin-bottom: 0px;
      }

      .new {
        .email {
          margin-bottom: 10px;
        }
      }

      p.users-notice {
        margin-top: 5px;
      }
    }
  }

  @media(max-width: $screen-sm-max) {
    .create {
      text-align: right;
      .btn {
        float: right;
        display: block;
        margin-bottom: 20px;
      }

      .new {
        .email {
          margin-bottom: 10px;
        }
      }
    }
  }

  select.form-control {
    max-width: 200px;
    margin-left: 10px;
    display: inline-block;
  }

  .fa {
    color: $red-color;
    margin-right: 10px;
  }

  table.users {
    margin: 10px 0px 20px 0px;

    td.actions {
      text-align: left;
    }
  }

  .danger-zone {
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
