@import '../../bootstrap-customize';

#page-settings {
  padding-bottom: 50px;

  .fa {
    color: $red-color;
    margin-right: 10px;
  }

  table.users {
    margin: 20px 0px 0px 0px;
    max-width: 500px;
  }

  .danger-zone {
    margin: 30px 0px 0px 0px;

    .notice {
      margin-bottom: 20px;
    }
  }
}
