@import '../../bootstrap-customize';

#page-settings {
  padding-bottom: 50px;

  h3 {
    margin-top: 40px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .create {
    margin-bottom: 20px;

    .btn {
      padding: 15px 35px;
      width: 210px;

      &.save-button {
        margin-left: 10px;
      }
    }

    .new {
      text-align: right;
      display: none;

      .name, .email {
        display: inline-block;
        margin-right: 20px; 
        
        &.name {
          input {
            display: inline-block;
            width: 100%;
          }
        }

        &.email {
          input {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }    
  }

  .users-notice {
    text-align: center;
    font-size: 0.95em !important;
  }

  select.form-control {
    max-width: 200px;
    margin-left: 10px;
    display: inline-block;
  }

  .fa {
    color: $red-color;
    margin-right: 10px;
  }

  table.users {
    margin: 20px 0px 20px 0px;

    td.actions {
      text-align: left;
    }
  }

  .danger-zone {
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
