@import '../../bootstrap-customize';

#page-machine #storage {
  text-align: left;

  .create {
    margin-bottom: 20px;

    .btn {
      padding: 15px 35px;

      &.save-button, &.cancel-button {
        margin-left: 10px;
      }
    }

    .new {
      text-align: right;
      display: none;

      .name, .type, .size {
        display: inline-block;
        margin-right: 20px; 
        
        &.name {
          input {
            display: inline-block;
            width: 75%;
          }
        }

        &.type {
          select {
            display: inline-block;
            &.size {
              width: 60px;
            }
          }
        }

        &.size {
          margin-right: 5px; 
          select {
            display: inline-block;
            &.size {
              width: 90px;
            }
          }
        }
      }
    }    
  }

  table { 
    th.name {
      width: 40%;
    }

    th.type {
      width: 9%;
    }

    th.size {
      width: 9%;
    }

    td.actions {
      width: 35%;
    }

    td.space {
      width: 20%;
    }

    tr.snapshot {
      td.name {
        padding-left: 50px;
      }

    }


  }
}
