#page-console.text-center
  .console-window-wrapper
    .console-window
      .canvas-wrapper
        canvas
      .vm-actions
        select.form-control.distributions
          - for distro in ['Arch Linux', 'Ubuntu Server', 'Fedora', 'FreeBSD', 'OpenNebula', 'SmartOS', 'ReactOS']
            option = distro
        .rocket-menu
          img src='/img/logo/virtkick-logo-pixelart-gray-24.png'
        .restart
          a.btn.btn-default.ctrlaltdel
            |  Reboot
          a.btn.btn-default.hardreset
            |  Hard reset
    p.bright-violet
      | If the VNC console doesn't appear, please upgrade your browser or trying a different one.

  = javascript_include_tag '/js/novnc.js'

- content_for :scripts do
  javascript:
    $(function() {
      $('.console').click(function() {

        var rfb = new RFB({
          'target': $('canvas')[0],
          'repeaterID': '',
          'encrypt': true,
          'true_color': true,
          'local_cursor': true,
          'shared': true,
          'updateState': function() {},
          'onUpdateState': function(rfb, state, oldstate, statusMsg) {
            var canvas = $('.console-window canvas');

            if (state === "normal") {
              var width = rfb.get_display().get_width();
              var height = rfb.get_display().get_height();
            } else {
              var width = 640;
              var height = 480;
            }
            canvas.width(width + "px");
            canvas.height(height + "px");

            var margin = 70;
            var left = ($("#page-machine").width() - width - margin) / 2;
            left -= $(".side-menu-wrapper").outerWidth() / 2;
            $('.console-window').css("left", left);
            return;
          },
          'view_only': false,
          'onPasswordRequired': function() {
            console.log('VNC: Password required');
          }
        });

        var host = 'asgard.pacmanvps.com';
        var port = 6923;
        var password = null;

        rfb.connect(host, port, password, '');

        $('.ctrlaltdel').click(function() {
          rfb.sendCtrlAltDel();
        });

        $('.nav-tabs a').click(function() {
          rfb.disconnect();
        });
      
        $('.side-menu-wrapper').addClass("collapsed");
      });

      $('#page-machine .nav li').click(function (e) {          
        if ($(e.currentTarget).find(".console").length == 0) {
          $('.side-menu-wrapper').removeClass("collapsed");
          $(".side-menu").removeClass("expanded");
        }
      });

      $('.side-menu-wrapper .dropdown').click(function () {
        $(".side-menu").toggleClass("expanded");
      });

    });
